flask
flask-sqlalchemy
flask-cors
pymysql
python-dotenv
paramiko
apscheduler
flask-apscheduler
flask-socketio
python-engineio
python-socketio
PyJWT
sqlparse
keyring
pyotp
qrcode
Pillow
bcrypt
DBUtils
gmssl
pywinrm>=0.4.0
